<section>
  <fieldset>
    <p>
    This is an interesting URL lengthening tool.A domain name can be registered with up to 63 characters, 
      the maximum length for a domain name is 253 characters, hence <a
        target="_blank"
        href="https://long.kakahu.org"
        title="Longer than Long">Make the url longer and longer</a
      > was born.<br/>
      <br />
      <br />
    </p>
  </fieldset>
  <Fragment set:html={import.meta.env.CONTENT_INJECT} />
</section>

<style>
  fieldset {
    width: auto;
    margin-bottom: 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  .break-all {
    word-break: break-all;
  }
</style>
