<footer>
  <p>
    <a
      target="_blank"
      href="https://long.kakahu.org"
      title="Longer than Long">Longer than Long</a>
  </p>


</footer>

<style>
  footer {
    margin: 1rem;
  }
  p {
    margin: 0;
  }
</style>
